<h2>Create a new drone</h2>
<form method="POST" action="/drones/create">
 <label for="name">Dron name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="propellers">Propellers:</label><br>
  <input type="number" id="propellers" name="propellers"><br>
  <label for="maxSpeed">Max Speed:</label><br>
  <input type="number" id="maxSpeed" name="maxSpeed"><br>
  <button type="submit">Crear Dron</button>
</form>