<h2>Available drones</h2>

{{#each result}}
<br>
<h3>Name: {{this.name}}</h3>
<p>Propellers: {{this.propellers}}</p>
<p>Max Speed: {{this.maxSpeed}}</p>
<br>
<a href="drones/{{this.id}}/edit">Edit</a>
<br>
{{/each}}